/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700');
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
li{
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1,
a,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
a:hover{
  text-decoration: none;
}


/*========================================
Default css
=========================================*/
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-40{
  padding-top: 40px;
}
.pt-50{
  padding-top: 50px;
}
.pt-60{
  padding-top: 60px;
}
.pt-70{
  padding-top: 70px;
}
.pt-80{
  padding-top: 80px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-40{
  padding-bottom: 40px;
}
.pb-50{
  padding-bottom: 50px;
}
.pb-60{
  padding-bottom: 60px;
}
.pb-70{
  padding-bottom: 70px;
}

.pb-80{
  padding-bottom: 12px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}

/*
==========================================
    header AREA START
==========================================
*/
#sticky-wrapper {
  z-index: 9999;
}
.logo-area {
  background: #fff;
  padding: 3px 16px; 
  transform: skewX(45deg);

}
.search-box form {
  padding: 15px 0;
}
.header-right nav {
  padding: 15px 0;
}

.btn-area a {
  background: #06B2B6;
  text-align: center;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
  float: right;
  margin: 0px 12px;
}
.top-midle span {
  padding-right: 15px;
}
.top-midle li:last-child {
  padding-left: 80px;
}
.top-midle li {
  display: inline-block;
  color: #505050;
}
.top-midle li a{
  color: #505050;
}
.social-links a {
  padding: 10px;
  margin-left: 0;
  color: #505050;
}
.logo-area h1 {
  color: #06B2B6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 15px 0;
  transform: skewX(-45deg);
}
.header-area {
  border: 1px solid #4272D7;
  background: #06B2B6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  z-index: 9999;
}
.header-area.pt-30.pb-30 {
  padding: 40px 0;
}
.header-right ul li {
  display: inline-block;
  position: relative;
}
.header-right ul li a {
  color: #343434;
  padding: 10px 14px;
  text-align: center;
  transition: 0.5s;
  position: relative;
  transition: 0.5s;
}
.header-right ul li a:hover{
  text-decoration: none;
  color: #fff;
}
.header-right ul li a:hover::before{
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: #4272D7;
}
.header-right ul li ul.submenu {
  position: absolute;
  border: 1px solid #4272D7;
  top: 200%;
  left: 0;
  right: 0;
  width: 120px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  background: #06B2B6;
}
.header-right ul li:hover ul.submenu{
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.header-right ul li ul.submenu li {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid;
}
.header-right ul li ul.submenu li:last-child{
  border-bottom: 0px;
}
.header-right ul li ul.submenu li a{
  padding: 10px;
  text-align: center;
}
.header-right nav {
  display: block;
  float: left;
}

.search-area {
  float: right;
  display: block;
}
/*======================
search button area
========================*/

.search-box {
  width: 100%;
  height: 60px;
  position: relative;
  margin-left: 0;
}
.input {
  top: 20px;
  left: 50px;
  box-sizing: border-box;
  width: 0px;
  height: 30px;
  padding: 0 20px;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
  color: #29313a;
  border: 3px solid #242424;
  transition: all 0.8s ease;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #06B2B6;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #06B2B6;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #06B2B6;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #06B2B6;
}

.search-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  left: 0;
  top: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  font-size: 14;
  color: #fff;
  transition: all 0.8s ease;
}
.input.active {
  width: 100%;
  right: 100px;
}

.search-btn.animate {
  transform: rotate(360deg);
  right: 100px;
}
#srch-btn {
  position: absolute;
  right: 4px;
  top: 18px;
  outline: none;
  border: none;
  padding: 2px 10px;
  border-radius: 50%;
}

/*====================
slider-area
=====================*/
.z-index{
  z-index: -9999;
}
.slider-area {
  position: relative;
  
}
.slider-content.t-cn.s-tb.slider-2 h1 {
  font-size: 50px;
}
.title-container.s-tb-c span {
  color: #06B2B6;
}
.title2 {
  font-size: 25px;
  padding: 15px 0px;
}
.slider-botton a {
  display: block;
  background: #06B2B6;
  padding: 10px 70px;
  color: #fff;
  /* margin-top: 15px; */
  border-radius: 14px;
  font-size: 17px;
}
.slider-botton {
  padding: 15px;
}

/*=========================
hospital search area
==========================*/
#form-area {
  background: #606060;
  padding: 20px 0;
  position: absolute;
  left: 150px;
  right: 150px;
  bottom: -20%;
  z-index: 999;
  border-radius: 5px;
}
#input-area {
  margin: 10px 50px;
}
#submit-btn {
  padding: 7px 40px;
  border: none;
  border-radius: 5px;
  background: #06B2B6;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
  font-size: 15px;
  font-weight: 700;
}

#form-area form {
  margin-left: 80px;
}
#form-area form input {
  background: #7D7D7D;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 5px;
}


/*===========================
tab-area
============================*/
#v-pills-tab a {
  display: block;
  padding: 15px 0;
  background: #F1F1F1;
  margin-bottom: 3px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 270px;
  font-size: 20px;
  transition: 0.5s;
  position: relative;
}
#v-pills-tab a:hover{
   background:#06B2B6;
   color: #fff;
   
}
#v-pills-tab a::after{
  position: absolute;
  content: "";
  width: 30px;
  visibility: hidden;
  height: 30px;
  background: #06B2B6;
  right: -5px;
  -ms-transform: rotate(-50deg); /* IE 9 */
  -webkit-transform: rotate(-50deg); /* Safari */
  transform: rotate(-50deg);
  opacity: 0;
  z-index: -999;

}
#v-pills-tab a:hover::after{
 opacity: 1;
 visibility: visible;
  
 
}


#v-pills-tab a i {
  padding-right: 10px;
  margin-left: 30px;
  font-size: 22px;
}
#v-pills-tab a span {
  text-transform: uppercase;
  margin-left: 12px;
}

/*----------------------
tab-content
----------------------*/
#v-pills-home h2 {
  padding: 15px 0;
  font-size: 22px;
  color: #343434;
  font-family: normal;
  padding-top: 31px;
}
#v-pills-home p {
  padding: 10px 0;
}
#v-pills-tabContent li {
  padding: 10px 0;
  font-size: 15px;
  letter-spacing: 1px;
}
#v-pills-tabContent li i {
  color: #06B2B6;
  padding-right: 20px;
}
.content-bottom {
  display: flex;
  padding-top: 15px;
}
.content-bottom-right {
  margin-left: 125px;
}
#btn-contact {
  display: block;
  background: #06B2B6;
  text-align: center;
  padding: 8px;
  width: 120px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.5s;
}
#v-pills-tabContent {
  color: #50505B;
}
#v-pills-tabContent .img-area{
  overflow: hidden;
}
#v-pills-tabContent .img-area img{
  -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
}
#v-pills-tabContent img:hover{
   transform: scale(1.2);
   cursor: pointer;
}
/*================================
Services area
=================================*/
.our-services-area {
  background: #F4F4F4;
}

.divider {
  position: relative;
  padding: 0px 60px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px; }
  .divider span i {
    color: #939393;
    font-size: 20px; }
  .divider span::before {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    left: -95px;
    margin-top: 10px; }
  .divider span::after {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    right: -95px;
    display: inline-block;
    margin-top: 10px; }

.top-text {
  margin-bottom: 63px; }
  .top-text p {
    color: #606060; }
.single-service-item {
  
  padding: 20px 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.single-service-item:hover{
   -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: -webkit-box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.single-service-item:hover h2{
  color: #06B2B6;

}
.single-service-item:hover i{
  background: #06B2B6;
  color: #FFF;
}
.single-service-item i {
  font-size: 30px;
  padding: 29px;
  border: 1px solid #06B2B6;
  border-radius: 8px;
   transition: 0.5s;
}
.single-service-item h2 {
  font-size: 22px;
  padding: 15px 0;
  color: #505050;
   transition: 0.5s;
}
.single-service-item p {
  line-height: 22px;
}
/*=========================
Appointment area
==========================*/
.appointment-area {
  background-image: url("../img/appointbg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
}
.appointment-area::before{
  width: 100%;
  height:100%;
  position: absolute;
  content: "";
  background: #06B2B6;
  top: 0;
  left: 0;
  opacity: 0.5;


}

.form-box {
  background: #fff;
  padding: 40px 60px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  position: absolute;
}
.col-md-6.form-box form input {
  margin-bottom: 30px;
  padding: 10px 20px;
  height: 45px;
  width: 100%;
  background: #DDDDDD;
  border: none;
  outline: none;
}
.col-md-6.form-box form input[type="submit"] {
  width: 95%;
  margin-left: 13px;
  border-radius: 4px;
  background: #06B2B6;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff;
}
.col-md-6.form-box form input[type="submit"]:hover{
  background:#000;
}
.col-md-6.form-box form input::placeholder{
  color: #5b5b5b;
}
.col-md-6.form-box form select{
   margin-bottom: 15px;
  padding: 10px 20px;
  height: 40px;
  width: 100%;
  background: #DDDDDD;
  border: none;
  outline: none;

}
.col-md-6.form-box form select option{
  border: none;
}

/*===========================
hospital list-area
==============================*/
.hospital-area-list {
  padding-top: 22px;
}
.h-hospital-content-top {
  height: 210px;
}
.single-hospital {
  border: 1px solid #3434;
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  width: 326px;
}
.single-hospital:hover img{
  transform: scale(1.2);
  cursor: pointer;
}
.single-hospital:hover .h-hospital-content-bottom {
  transform: translateY(-124px);
}
.single-hospital:hover{
   box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.5);
   border:none;
}
.h-hospital-content-bottom {
  position: absolute;
  background: #06B2B6;
  width: 100%;
  padding: 12px;
  color: #fff;
  transform: translateY(0px);
  transition: 0.5s;
}
.h-hospital-content-top img {
  max-width: 100%;
  height: 210px;
  transform: scaleY(1);
  transition: 0.5s;
}
.h-hospital-content-bottom h2 {
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}
.h-hospital-content-bottom p {
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 12px;
}
.h-hospital-content-bottom i {
  padding-right: 6px;
  font-weight: bold;
}
.h-hospital-content-bottom span{
  font-weight: 800;
}
/*=============================
counter-area
==============================*/
.counter-area {
  background: #F4F4F4;
  color:#FFF;
  background: url(../img/hospital/countbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.counter-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.8;
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, #b2fefa, #0ed2f7);
  background: linear-gradient(to right, #000, #0ed2f7);
}
.single-counter {
  border: 1px solid;
  padding: 22px 10px;
}
.single-counter.text-center h2 {
  padding: 16px 0;
  font-size: 30px;
  font-weight: 800;
}
.single-counter.text-center span {
  font-size: 50px;
}
.single-counter.text-center h3 {
  padding: 16px 0;
  font-size: 22px;
  text-transform: uppercase;
}
/*========================
donor search area
=========================*/
.b_search.text-center p {
  padding: 30px;
  color: #06B2B6;
}
.b_search.text-center span {
  color: #BB0000;
}
.b_search h2 {
  padding: 30px 10px;
  text-transform: uppercase;
  font-size: 24px;
  color: #06B2B6;
}
.b_search table {
  margin: 0 auto;
  border: 1px solid #06B2B6;
  padding: 14px;
  width: 700px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.b_search.text-center table input, select {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #06B2B6;
  width: 90%;
  margin: 20px;
}
.b_search input[type="text"]{
  margin: 0;
}
.b_search.text-center table s-btn {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #343434;
  width: 90%;
  background: #06B2B6;
  color: #FFF;
  border: none;
}
.b_search.text-center input[type="date"] {
  padding: 5px;
}
#b-group {
  width: 90%;
}
.b_search {
  background-image: url(./assets/img/sectionbg./sectionbg.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

/*====================
donorlist -area
====================*/
#donor_table {
  border: 1px solid #06B2B6;
  width: 100%;
  padding: 25px;
}
#donor_table tr {
  border-bottom: 1px solid #06B2B6;
  /* padding: 20px; */
}
#donor_table tr th {
  padding: 15px 35px;
  border-right: 1px solid #808080;
  background: #06B2B6;
}
#donor_table tr td {
  border-right: 1px solid #06B2B6;
  padding: 30px 20px;
}
.content-left {
  float: left;
  padding-right: 40px;
}
.content-left img {
  border: 1px solid #06B2B6;
  width: 170px;
  height: 100px;
}
.content-right h5 {
  font-size: 16px;
  padding: 0px 35px;
}
.b_search.text-center h3 {
  color: #D10801;
  font-size: 20px;
  padding: 22px;
  background: #53C3D6;
}
.np-area.text-center {
  background: #53C3D6;
  padding: 10px 5px;
}
.np-area.text-center a {
  color: #CA1117;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
}
#active {
  background: #FFFFFF;
}
.np-area.text-center a:hover {
  background: #F0F0F0;
}
/*=======================
footer-area
========================*/
.footer-area {
  background: #181818;
  padding: 60px;
}
.footer-left h2 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
}
.footer-left p {
  color: #777777;
  padding: 10px 0;
  line-height: 22px;
  padding-right: 40px;
}
.footer-left label {
  width: 100%;
  border-bottom: 1px solid;
}
.footer-left label:last-child{
  border-bottom: none;
}
.footer-left label input[type="text"] {
  width: 100%;
  padding: 11px;
  border: none;
  background: transparent;
}
.footer-left label input::placeholder{
  color:#777777;
  font-size:17px;
  font-weight: lighter;
  padding-left: 0;
}
.footer-left a,.footer-midle a {
  font-size: 16px;
  color: #878787;
  transition: 0.5s;
}
.footer-left a,.footer-midle a:hover{
  margin-left: 10px;
  color: #06B2B6;

}
.footer-midle h2 {
  color: #d0d0d0;
  font-size: 24px;
  padding-bottom: 26px;
  position: relative;
}
.footer-midle h2::before {
  width: 20%;
  height: 3px;
  background: #06B2B6;
  content: "";
  top: -6px;
  position: absolute;
}
.footer-midle-left {
  float: left;
  padding-right: 40px;
  width: 50%;
  overflow: hidden;
}
.footer-midle-left a{
  padding-bottom: 10px;
}
.footer-midle li {
  padding-bottom: 8px;
}
.footer-right {
  background: #232323;
  padding: 20px;
  position: relative;
}
.footer-right::before {
  width: 100%;
  height: 3px;
  background: #06B2B6;
  content: "";
  top: -6px;
  position: absolute;
  left: 0;
}
.footer-right h2 {
  font-size: 18px;
  color: #fff;
  padding-bottom: 9px;
}
.footer-right h3 {
  font-size: 18px;
  padding: 3px 0;
  font-size: 17px;
  color: #606060;
}
/*=====================
single-doctor-area
======================*/
.single-doc-top.text-center {
  padding: 20px 0px;
  background: #F0F0F0;
  margin: 25px 0px;
}
.single-doc-top.text-center img {
  width: 165px;
  padding: 10px 0px;
}
.single-doc-top.text-center h2 {
  si: ;
  font-size: 24px;
  color: #06B2B6;
  padding: 10px 0px;
  font-weight: bold;
}
.single-doc-top.text-center h3 {
  font-size: 20px;
  color: #06B2B6;
  padding: 9px;
}
.single-doc-top.text-center h4 span {
  color: #06B2B6;
  font-weight: bold;
}
.single-doc-left.text-center h2 {
  color: #06B2B6;
  padding: 5px;
  font-size: 23px;
}
.single-doc-left.text-center h2 i {
  padding-right: 5px;
}
.single-doc-left.text-center span {
  color: #06B2B6;
  font-size: 38px;
  padding: 10px;
}
.single-doc-left.text-center h4 {
  padding: 20px;
  font-size: 15px;
  color: #848484;
  line-height: 26px;
}
.single-doc-left.text-center h5 {
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  padding: 12px;
}
.single-doc-left.text-center{
   padding: 60px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.single-doc-lb {
  padding: 25px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 28px;
}
.single-doc-lb h2{
   color: #06B2B6;
  padding: 5px;
  font-size: 23px;
}
.single-doc-lb h2 i {
  padding-right: 5px;
}
.single-doc-lb.text-center h3 {
  font-size: 20px;
  padding: 18px 0;
  line-height: 28px;
}
.single-doc-lb.text-center p {
  color: #848484;
  line-height: 22px;
  padding-bottom: 12px;
}
.single-doc-lb.text-center li {
  background: #06B2B6;
  display: block;
  padding: 10px 0;
  width: 180px;
  margin: 0 auto;
  color: #f0f0f0;
  font-weight: bold;
}
.chamber-lacation h2 {
  text-align: center;
  padding: 25px;
  color: #06B2B6;
  font-size: 20px;
}
.chamber-lacation {
  padding: 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.map {
  overflow: hidden;
  height: 275px;
}
.map iframe {
  max-width: 100%;
  max-height: 100%;
}
.related-doctor-slider .single-hospital{
  margin-right: 50px;
}
.related-doctor .hospital-area-list {
  padding-top: 40px;
}
.related-doctor h2 {
  font-size: 20px;
  padding-top: 40px;
}
.related-doctor h2 {
  font-size: 20px;
  padding-top: 40px;
  color: #06B2B6;
}
.related-doctor h2 i{
  padding-right: 10px;
}
#demo h2 {
  font-size: 22px;
  text-align: center;
  padding: 15px 15px;
  border-bottom: 1px solid #F0F0F0;
}
#demo table td {
  padding: 15px;
}
#demo form {
  border: 1px solid #E6E6E6;
  padding: 30px;
}
.appoinment-area button {
  width: 100%;
  margin-top: 35px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: #06B2B6;
}
#demo form input[type="submit"] {
  padding: 6px 34px;
  background: #06B2B6;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}
#demo form input[type="text"] {
  padding: 6px 18px;
  border: 1px solid #EDEDED;
  color: #06B2B6;
  font-weight: bold;
  border-radius: 3px;
}
.single-doctor {
  padding-bottom: 25px;
}

/*=====================
doctor list
======================*/
.content-right h5 {
  font-size: 16px;
  padding: 0px 35px;
  line-height: 32px;
}
.ambulence-bg{
  background-image: url(./assets/img/ambulence.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
.btn-group-lg > .btn, .btn-lg {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 6px;
}
#ambu-book table {
  width: 90%;
  height: ;
}
#ambu-book table td {
  padding: 0px;
  border: none;
}
/*==================
doctorsearch -area
===================*/
#sectionbg {
  padding: 50px;
  position: relative;
}
.doctor-srchbar {
  background: #06B2B6;
  padding: 30px;
  border-radius: 5px;
}
.doctor-srchbar .btn {
  background: #232323;
  padding: 8px 20px;
  font-size: 12px;
  transition: 0.5s;
}
.doctor-srchbar .btn:hover{
  background: #FFFFFF;
  color:#06B2B6; 
}
.doctor-slide-area .single-hospital h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.doctor-slide-area .single-hospital h3 {
  font-size: 12px;
  line-height: 21px;
}
.doctor-slide-area .single-hospital a {
  padding-top: 10px;
  color: #FFF;
}
.doctor-slide-area .single-hospital img {
  height: 80%;
  padding: 20px;
  border: 1px solid #F0F0F0;
  border-radius: 50%;
  margin-top: 20px;
}
.doctor-slide-area h3 {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  border-bottom: 2px solid #F0F0F0;
  padding-bottom: 6px;
  /* color: #003478; */
}
#sectionbg h1 {
  font-size: 55px;
  color: #003478;
  padding-bottom: 22px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;

}

.bg-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url(./assets/img/ambulence.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -99;
}
.ambu .hospital-area-list {
  padding-top: 20px;
}
/*=====================
single-ambulence
======================*/
.ambu-img {
  float: left;
  padding: 20px;
  border: 1px solid #F0F0F0;
}
.ambu-img img {
  width: 350px;
}
.single-ambu-header {
  padding: 40px 0px;
  display: flex;
}
.pera {
  padding: 0px 42px;
  float: right;
  font-size: 16px;
  line-height: 35px;
}
.single-ambu-bottom {
  border: 1px solid #F0F0F0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  color: #06B2B6;
}
.single-ambu-bottom h2 {
  padding: 15px 0;
  font-size: 27px;
  text-align: center;
  border-bottom: 1px dotted #F0F0F0;
}
.single-ambu-bottom table {
  border: 1px solid #F0F0F0;
  width: 100%;

}
.single-ambu-bottom table tr {
  border: 1px solid #F0F0F0;
  /* padding: 7px; */
}
.single-ambu-bottom table tr td, th {
  padding: 10px;
}
.single-ambu-bottom li {
  padding: 5px;
}
.single-ambu {
  padding: 20px 0px;
}
.ambu-area h2 {
  font-size: 19px;
  text-align: center;
  padding-top: 20px;
}
/*=========================
hospitallist-area
==========================*/
.single-hospital-wrapper {
  padding: 20px 0;
  display: flex;
  border: 1px solid #F0F0F0;
}
.hospital-img img {
  width: 220px;
}
.hospital-img {
  padding: 0px 20px;
  border-right: 1px solid #F0F0F0;
}
.hospital-details-mid {
  padding: 0px 20px;
  width: 500px;
  border-right: 1px solid #F0F0F0;
}
.hospital-details-mid h4 {
  font-size: 25px;
  padding: 10px 0;
}
.hospital-dis {
  padding: 0px 20px;
  border-right: 1px solid #F0F0F0;
}
.hospital-dis h4 {
  font-size: 20px;
  color: #747474;
}
.hos-details-right a {
  display: block;
  background: #06B2B6;
  text-align: center;
  padding: 15px 34px;
  color: #FFF;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 50px;
  border-radius: 4px;
  transition: 0.5s;
}
.hos-details-right a:hover{
  background: #000000;
}
.single-hospital-wrapper {
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.single-doc-left h3 {
  font-size: 22px;
  padding: 10px;
  border-bottom: 1px solid #F0F0F0;
  color: #06B2B6;
}
.single-doc-left li {
  padding: 8px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #F0F0F0;
}
.single-doc-left b {
  padding: 3px;
  color: #06B2B6;
}
.single-doc-lb label {
  padding: 20px;
  font-size: 16px;
}
.single-doc-lb input {
  padding: 4px;
  border: 1px solid #F0F0F0;
}
#tcost li {
  padding: 8px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #F0F0F0;
  background: none;
  margin: 14px;
  color: #232323;
}
#tcost b {
  padding: 3px;
  color: #06B2B6;
}
#tcost table {
  border: 1px solid #F0F0F0;
  /* padding: 5px; */
  width: 100%;
}
#tcost table tr {
  border-bottom: 1px solid #F0F0F0;
}
#tcost table th {
  text-align: center;
}
#tcost table tr td {
  padding: 10px;
}
#v_btn {
  background: #06B2B6;
  padding: 8px 12px;
  color: #FFF;
  font-weight: bold;
  border-radius: 3px;
}
.b-search-area h1 {
  text-align: center;
  font-size: 55px;
  padding-top: 50px;
  padding-bottom:22px;
 
  color: #003478;
  font-weight: bold;
}
/*=====================
login-area
======================*/
.login-wrapper form {
  width: 80%;
  border: 1px solid #F0F0F0;
  padding: 49px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-wrapper table td {
  padding: 20px 40px;
}
.login-wrapper table input {
  width: 100%;
  padding: 8px 25px;
  border: 1px solid #F0F0F0;
}
.login-wrapper table input[type='submit']{
  background: #181818;
  color: #FFFFFF;
  font-weight: bold;
  transition: 0.5s;

}
.login-wrapper table input[type='submit']:hover{
  background:#06B2B6;
}
.login-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0px;
  background: #06B2B6;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
}
.login-wrapper {
  padding: 30px;
}
